.content {
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.participants {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.participant {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.info {
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.definition {
  padding-left: 20px;
}

.line {
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
}

.blue {
  background-color: #1740a9
}

.green {
  background-color: #24cc49;
}

.yellow {
  background-color: #ffdd65;
}
