.content {
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.participants {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.participant {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.info {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.definition {
  padding-left: 20px;
}