.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  padding: 12px 35px;
  display: flex;
  width: 80vw;
  max-width: 290px;
  height: 288px;
}
