@use '../base/vars' as *;

@font-face {
  font-family: 'icomoon';
  src: url('../../../public/assets/iconFonts/icomoon.eot?bs0osu');
  src: url('../../../public/assets/iconFonts/icomoon.eot?bs0osu#iefix') format('embedded-opentype'),
    url('../../../public/assets/iconFonts/icomoon.ttf?bs0osu') format('truetype'),
    url('../../../public/assets/iconFonts/icomoon.woff?bs0osu') format('woff'),
    url('../../../public/assets/iconFonts/icomoon.svg?bs0osu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-logo:before {
  content: "\e903";
  font-size: 70px;
}

.icon-app-logo:hover {
  cursor: pointer;
}

.icon-school-logo:before {
  content: "\e90b";
  font-size: 50px;
}

.icon-school-logo:hover {
  cursor: pointer;
  color: #000;
}

.icon-add-board:before {
  content: "\e900";
  font-size: 75px;
}

.icon-add-board-header:before {
  content: "\e900";
  font-size: 25px;
  display: flex;
  align-items: center;
}

.icon-board-edit,
.icon-board-column-remove {
  border: none;
  outline: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.icon-board-column-remove:before {
  content: "\e905";
  font-size: 25px;
}

.icon-board-edit:before {
  content: "\e906";
  font-size: 25px;
}

.icon-board-edit:hover,
.icon-board-column-remove:hover {
  color: $primary-color;
}

.icon-add-column:before {
  content: "\e901";
}

.icon-add-task:before {
  content: "\e902";
}

.icon-back-arrow {
  &::before {
    content: "\e904";
    font-size: 45px;
    transition: all .3s;
    border-radius: 50%;
  }
}

.icon-back-arrow {
  &:hover.icon-back-arrow:before {
    background-color: $light-gray-second-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  }
}

.icon-exit-modal:before {
  content: "\e907";
  font-size: 20px;
  transition: 0.3s;
}

.icon-exit-modal:hover {
  color: $primary-color;
}

.icon-profile-edit:before {
  content: "\e908";
  font-size: 25px;
  display: flex;
  align-items: center;
}

.icon-profile-exit:before {
  content: "\e909";
  font-size: 25px;
  display: flex;
  align-items: center;
}

.icon-profile-user:before {
  content: "\e90a";
  font-size: 25px;
  display: flex;
  align-items: center;
}

.icon-task-action:before {
  content: "\e90c";
}
