@import '../../styles/base/vars';

.header {
  width: 100%;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.control {
  display: flex;
  gap: 10px;
  align-items: center;
}

.link {
  position: relative;
  display: block;
  transition: all linear 0.3s;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.link:hover {
  background-color: $light-gray-second-color;
  box-shadow: 1px 1px 3px 0px rgba(34, 60, 80, 0.2);
}

.logoWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
