@import 'styles/abstracts/mixins';

.newBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 400px;
  height: 170px;
  border: 1px dashed $new-border-dashed;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  @include media-mobile {
    min-width: 280px;
  }
}

.newBoard:hover {
  color: $primary-color;
}
