.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  box-sizing: border-box;
  padding: 12px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  max-width: 290px;
  height: 261.3px;
}