@import 'styles/abstracts/mixins';
@import 'styles/base/vars';

.text {
  padding: 0 20px;
  width: 100%;
  max-width: 244px;
  max-height: 74px;
}

.textTitle {
  @include lora($fs: 20px, $ls: 0.5px);
  margin: 10px 0;
}

.textDescr {
  @include lora($fs: 15px, $ls: 0.3px);
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 18px;
}

.text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
  height: 100%;
  background-color: $task-pseudo-elem;
  border-radius: 10px 0px 0px 10px;
}

.task {
  position: relative;
  width: 320px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  border: 1px solid $task-border-color;
  border-left-style: none;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.task button {
  color: $gray-color;
}

.task button:hover {
  color: $primary-color;
}

.controls {
  display: flex;
  align-items: center;
}
