@import '../../../../styles/base/vars';

.content {
  padding-top: 30px;
}

.paper {
  position: relative;
  padding: 15px 70px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}


.text {
  max-width: 580px;
  text-align: right;
  color: $main-text-color;
}

.line {
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #5C29ED;
}