@import 'styles/abstracts/mixins';

.boardsWrapper {
  padding: 100px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  transition: 0.5s;
  @include media-tablet-large {
    gap: 20px;
    padding: 50px 10px;
  }
}
