@import 'styles/abstracts/mixins';

.modalWrapper,
.modalContent {
  width: 430px;
  transition: 0.3s;
  @include media-mobile {
    width: 280px;
  }
}

.modalWrapper {
  position: relative;
  top: calc(50% - 70px);
  left: calc(50% - 215px);
  @include media-mobile {
    left: calc(50% - 150px);
  }
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 25px 55px;
  min-height: 130px;
  transition: 0.3s;
  @include media-mobile {
    padding: 35px 20px;
  }
}

.modalTitle {
  margin: 0;
  font-size: 25px;
  color: $primary-color;
}

.modalButtonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
