//colors
$primary-color: #1740A9;
$secondary-color: #9CC8FE;
$light-blue-color: #DAEBFF;
$gray-color: #616161;
$green-color: #229820;
$red-color: #D81616;

//fonts
$ff-alegreya-regular: 'Alegreya', serif;
$ff-alegreya-bold: 'Alegreya-Bold', serif;
$ff-lora-regular: 'Lora', serif;
$ff-lora-bold: 'Lora-Bold', serif;

//media
$content-width: 1278px;
$tablet-large-width: 1024px;
$tablet-width: 766px;
$mobile-big-width: 465px;
$mobile-small-width: 374px;