@font-face {
  font-family: 'PTSerif';
  font-style: normal;
  font-weight: 400;
  src: local('PTSerif'), url('../../../public/assets/fonts/PTSerif-Regular.ttf') format('ttf'),
}
@font-face {
  font-family: 'PTSerif-Bold';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../../../public/assets/fonts/PTSerif-Bold.ttf') format('ttf'),
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), url('../../../public/assets/fonts/Lora-Regular.woff2') format('woff2'),
    url('../../../public/assets/fonts/Lora-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Lora-Bold';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../../../public/assets/fonts/Lora-Bold.woff2') format('woff2'),
    url('../../../public/assets/fonts/Lora-Bold.woff') format('woff');
}
