//colors
$primary-color: #1740a9;
$secondary-color: #9cc8fe;
$bright-blue-color: #0b9df2;
$light-blue-color: #daebff;
$gray-color: #616161;
$green-color: #229820;
$red-color: #d81616;
$light-gray-color: #848484;
$light-gray-second-color: #efefef;
$white: #ffffff;
$dark-white: #fbfbfb;
$new-border-dashed: #989898;
$main-text-color: #292929;
$black-color: #000;
$task-pseudo-elem: #ff6584;
$task-border-color: #a5a5a5;

//fonts
$ff-ptserif-regular: 'PTSerif', serif;
$ff-ptserif-bold: 'PTSerif-Bold', serif;
$ff-lora-regular: 'Lora', serif;
$ff-lora-bold: 'Lora-Bold', serif;

//media
$content-width: 1920px;
$tablet-large-width: 1024px;
$tablet-width: 766px;
$tablet-small: 615px;
$mobile-big-width: 465px;
$mobile-small-width: 374px;
