//colors
$primary-color: #1740a9;
$secondary-color: #9cc8fe;
$light-blue-color: #daebff;
$gray-color: #616161;
$green-color: #229820;
$red-color: #d81616;
$light-gray-color: #848484;
$light-gray-second-color: #efefef;
$white: #ffffff;
$dark-white: #fbfbfb;

//fonts
$ff-alegreya-regular: 'Alegreya', serif;
$ff-alegreya-bold: 'Alegreya-Bold', serif;
$ff-lora-regular: 'Lora', serif;
$ff-lora-bold: 'Lora-Bold', serif;

//media
$content-width: 1278px;
$tablet-large-width: 1024px;
$tablet-width: 766px;
$mobile-big-width: 465px;
$mobile-small-width: 374px;
