@use 'styles/base/vars' as *;

.modalWrapper {
  position: relative;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  max-width: 400px;
  min-width: 300px;
  width: 100%;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px 20px 30px;
}

.modalTitle {
  margin: 0;
  font-size: 27px;
  color: $primary-color;
}
