@import 'styles/abstracts/mixins';

.modalWrapper,
.modalContent {
  width: 400px;
  transition: 0.3s;
  @include media-mobile {
    width: 280px;
  }
}

.modalWrapper {
  position: relative;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  @include media-mobile {
    left: calc(50% - 150px);
  }
}

.modalCreate {
  min-height: 305px;
}

.modalEdit {
  min-height: 160px;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px 20px 30px;
}

.modalTitle {
  margin: 0;
  font-size: 27px;
  color: $primary-color;
}

.userName {
  text-transform: uppercase;
  @include ptserif($fs: 15px);
}
